header{
    border-bottom: 1px solid #d6d6d8;
}

.main{
    margin: 20px;
    background-color: #ffff;
}

.carpeta .calendario{
    display: flex;
    justify-content: space-between;
}

.clases{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.clase{
     width: 250px;
    height: 250px;
    border: 1px solid #c3c3c5 ;
    border-radius: 5px;
    background-color: #ffffff;
    margin: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nombre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c3c3c5;
}

.puntos{
    margin: 10px;
}

.clase .nombre{  
    margin: none;
    width: auto;
    height: 75px;
    background-color: #6976e4;
}

.revisar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: lighter;
    padding: 25px;
}

.foto{
    display: flex;
    border-top: 1px solid #c3c3c5;
}